header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007BFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    margin-bottom: 20px;
}

.navbar-item {
    display: inline-block;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.feed {
    padding: 20px;
}

.feed h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.feed-list {
    list-style-type: none;
    padding: 0;
}

.feed-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.post-content {
    margin-bottom: 10px;
}

.feed-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}
