<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Discover Users</title>
    <link rel="stylesheet" href="/css/discoverUsers.css">
</head>
<body>
<header>
    <h1>Discover Users</h1>
</header>
<div th:replace="/fragments/nav-header :: user-header"></div>

<main>
    <section class="user-list">
        <h2>Users to Discover</h2>
        <ul class="list">
            <li class="list-item" th:each="user : ${users}">
                <div class="user-info">
                    <strong>Username</strong>
                    <span class="info-text" th:text="${user.username}">Placeholder</span>
                    <strong>First Name</strong>
                    <span class="info-text" th:text="${user.firstName}">Placeholder</span>
                </div>
                <form th:action="@{'/toggleFollow/' + ${user.id}}" method="post">
                    <input type="hidden" name="followStatus" th:value="${user.followedUsers.contains(loggedInUser) ? 'true' : 'false'}" />
                    <button type="submit">
                        <span th:if="${user.followedUsers.contains(loggedInUser)}">Unfollow</span>
                        <span th:unless="${user.followedUsers.contains(loggedInUser)}">Follow</span>
                    </button>
                </form>
        </ul>
    </section>
</main>
</body>
</html>
