<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover Users</title>
    <link rel="stylesheet" href="/css/discoverUsers.css">
    <link rel="stylesheet" href="/css/shared.css">
</head>
<body>
<header>
    <h1>Discover Users</h1>
</header>
<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
        <li th:if="${username}"><a href="/myProfile">Profile</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/allUsers">All Users</a></li>
        <li th:if="${username}"><a href="/feed">My Feed</a></li>
        <li class="navbar-item"><a class="navbar-link" th:href="@{/perform_logout}">Log Out</a></li>
    </ul>
</nav>
<main>
    <section class="user-list">
        <h2>Users to Discover</h2>
        <ul class="list">
            <!-- Loop through the users and display them -->
            <li class="list-item" th:each="user : ${users}">
                <div class="user-info">
                    <strong>Username</strong>
                    <span class="info-text" th:text="${user.username}">Placeholder</span>
                    <strong>First Name</strong>
                    <span class="info-text" th:text="${user.firstName}">Placeholder</span>
                    <!-- Add a form to follow the user -->
                    <div th:unless="${user == null or user.username == null or !user.username.equals(user.username)}">
                        <form th:action="@{/followUser/{userId}(userId=${user.id})}" method="post">
                            <button type="submit" th:text="${user.followedUsers.contains(loggedInUser) ? 'Unfollow' : 'Follow'}"></button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</main>
</body>
</html>
