<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/homePage.css">
    <title>Home Page</title>
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <h1>CodeFellows</h1>
    </div>
    <ul class="nav-links">
        <li th:if="!${username}"><a href="/login">Log In</a></li>
        <li th:if="!${username}"><a href="/signup">Sign Up</a></li>
        <li th:if="${username}"><a href="/myProfile">Profile</a></li>
        <li th:if="${username}"><a href="/allUsers">All Users</a></li>
        <li th:if="${username}"><a href="/discoverUsers">Discover Users</a></li>
        <li th:if="${username}"><a href="/feed">My Feed</a></li>
        <li th:if="${username}"><a th:href="@{/perform_logout}">Log Out</a></li>
    </ul>
</nav>

<h1 class="welcome-message" th:if="${username != null}" th:text="'Welcome, ' + ${username}"></h1>
<h1 class="welcome-message" th:if="${username == null}">Welcome to CodeFellows</h1>
<p>This is the homepage of our website.</p>

<div th:if="${username != null}">
<h3>Add Posts</h3>
<form action="/createPost" method="POST">
    <label for="postBody">Post Content:</label>
    <textarea id="postBody" name="body" rows="4" cols="50" required></textarea>
    <br>
    <button type="submit">Create Post</button>
</form>
</div>

</body>
</html>
