<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/specificUserProfile.css">
    <link rel="stylesheet" href="/css/shared.css">
</head>
<body>
<header>
    <h1>User Profile</h1>
</header>
<div th:replace="/fragments/nav-header :: user-header"></div>
<main>
    <section class="user-info">
        <h2>User Information</h2>
        <ul class="info-list">
            <li class="info-item">
                <strong>Profile Image</strong>
                <img th:if="${user.image != null and !user.image.isEmpty()}"
                     th:src="${user.image}" alt="Profile Image" class="info-image" />
                <img th:if="${user.image == null or user.image.isEmpty()}"
                     src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1214428300?k=6&m=1214428300&s=170667a&w=0&h=hMQs-822xLWFz66z3Xfd8vPog333rNFHU6Q_kc9Sues=" alt="Default Image" class="info-image" />
            </li>

            <li class="info-item">
                <strong>Username</strong>
                <span class="info-text" th:text="${user.username}">Placeholder</span>
            </li>
            <li class="info-item">
                <strong>First Name</strong>
                <span class="info-text" th:text="${user.firstName}">Placeholder</span>
            </li>
            <li class="info-item">
                <strong>Last Name</strong>
                <span class="info-text" th:text="${user.lastName}">Placeholder</span>
            </li>
            <li class="info-item">
                <strong>Date of Birth</strong>
                <span class="info-text" th:text="${user.dateOfBirth}">Placeholder</span>
            </li>
            <li class="info-item">
                <strong>Bio</strong>
                <span class="info-text" th:text="${user.bio}">Placeholder</span>
            </li>
        </ul>
    </section>

    <div th:unless="${user == null or user.username == null or !user.username.equals(user.username)}">
        <form th:action="@{/followUser/{userId}(userId=${user.id})}" method="post">
            <button type="submit" th:text="${user.followedUsers.contains(loggedInUser) ? 'Unfollow' : 'Follow'}"></button>
        </form>
    </div>

</main>
</body>
</html>
